<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/99E1E987-D86B-4131-807F-64BBEE23A8E5</string>
	<key>Model</key>
	<string>MacBookAir8,1</string>
	<key>NetworkServices</key>
	<dict>
		<key>0E72C2F1-12DA-4393-8D71-2BA6280E6CD4</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en4</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Bluetooth PAN</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Bluetooth PAN</string>
		</dict>
		<key>6D7E71C0-D52C-4D29-A605-81C8875A2310</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
		<key>9C3908D2-4BCA-46A8-BEA0-9725D53CA178</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en5</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>HiddenConfiguration</key>
				<true/>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>iPhone USB</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>iPhone</string>
		</dict>
		<key>BF769A3E-B814-4122-B2FB-AD8D839174E0</key>
		<dict>
			<key>DNS</key>
			<dict>
				<key>ServerAddresses</key>
				<array>
					<string>208.67.222.222</string>
					<string>208.67.220.220</string>
					<string>8.8.8.8</string>
				</array>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
				<key>ProxyAutoDiscoveryEnable</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>99E1E987-D86B-4131-807F-64BBEE23A8E5</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>9C3908D2-4BCA-46A8-BEA0-9725D53CA178</string>
							<string>BF769A3E-B814-4122-B2FB-AD8D839174E0</string>
							<string>0E72C2F1-12DA-4393-8D71-2BA6280E6CD4</string>
							<string>6D7E71C0-D52C-4D29-A605-81C8875A2310</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinModeFallback</key>
							<array>
								<string>DoNothing</string>
							</array>
							<key>PowerEnabled</key>
							<true/>
							<key>RememberJoinedNetworks</key>
							<true/>
							<key>RequireAdminIBSS</key>
							<false/>
							<key>RequireAdminNetworkChange</key>
							<false/>
							<key>RequireAdminPowerToggle</key>
							<false/>
							<key>Version</key>
							<integer>2600</integer>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>0E72C2F1-12DA-4393-8D71-2BA6280E6CD4</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/0E72C2F1-12DA-4393-8D71-2BA6280E6CD4</string>
					</dict>
					<key>6D7E71C0-D52C-4D29-A605-81C8875A2310</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/6D7E71C0-D52C-4D29-A605-81C8875A2310</string>
					</dict>
					<key>9C3908D2-4BCA-46A8-BEA0-9725D53CA178</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/9C3908D2-4BCA-46A8-BEA0-9725D53CA178</string>
					</dict>
					<key>BF769A3E-B814-4122-B2FB-AD8D839174E0</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/BF769A3E-B814-4122-B2FB-AD8D839174E0</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>morpheouss-MacBook-Air</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>morpheous’s MacBook Air</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
					<string>en2</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
